---
const {
	content: { title, pubDate, image, tags },
} = Astro.props;
---

<section>
	<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
		<div class="max-w-3xl">
			<h2 class="text-3xl font-bold sm:text-4xl">
				{title}
			</h2>
			<span
				class="flex flex-col sm:gap-y-2 md:flex-row md:items-center md:gap-y-0 md:divide-x md:divide-textColor"
			>
				<time class="pr-2">{pubDate}</time>
				{
					tags.map((item) => (
						<span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
							{item}
						</span>
					))
				}
			</span>
		</div>

		<div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
			<div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
				<img
					alt={title}
					src={image}
					class="absolute inset-0 h-full w-full object-cover"
				/>
			</div>

			<div class="lg:py-16">
				<article class="space-y-4 text-gray-600">
					<slot />
				</article>
			</div>
		</div>
	</div>
</section>
